<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web xdt:Transform="InsertIfMissing">
    <httpRuntime enableVersionHeader="false" xdt:Locator="Match(enableVersionHeader)" xdt:Transform="InsertIfMissing" />
    <!-- Removes ASP.NET version header.  -->
  </system.web>
  <system.webServer xdt:Transform="InsertIfMissing">
    <security xdt:Transform="InsertIfMissing">
      <requestFiltering removeServerHeader="true" xdt:Locator="Match(removeServerHeader)"
                        xdt:Transform="InsertIfMissing" />
      <!-- Removes Server header in IIS10 or later and also in Azure Web Apps -->
    </security>
    <httpProtocol xdt:Transform="InsertIfMissing">
      <customHeaders xdt:Transform="InsertIfMissing">
        <clear xdt:Transform="InsertIfMissing" />
        <!-- Gets rid of the other unwanted headers -->
        <remove name="X-Powered-By" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
      </customHeaders>
      <redirectHeaders xdt:Transform="InsertIfMissing">
        <clear xdt:Transform="InsertIfMissing" />
      </redirectHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
